//- extends reusehtml

//- block content
//-         h1 page to add more articles
//-          h2 #{title}
//-          form(mehtod='POST', action= '/articles/add')
//-            #form-group
//-                 label Title:
//-                 input.form-control(name = 'title', type = 'text')
//-            #form-group
//-                 label Author:
//-                 input.form-control(name = 'author', type = 'text')
//-            #form-group
//-                 label Body:
//-                 textarea.form-control(name = 'body')
//-            input.btn.btn-primary(type='submit', value='Submit')
extends reusehtml 

block content
 h1 #{title}

 // we will now create a form to add an article to database from frontend

 form(method='POST', action = '/articles/add')
    #form-group
        label Title:
        input.form-control(name = 'title', type = 'text')
    
    #form-group
            label Body:
            textarea.form-control(name = 'body')
    br
    input.btn.btn-primary(type = 'submit', value = 'Submit to add article')
