extends reusehtml

block content
        h1 #{title}
        ul.list-group
            each t, i in articles1
             li.list-group-item
              a(href="/articles/" + t._id)= t.title 
              
             
             
