extends reusehtml 

block content
 h1 Login

 // we will now create a form to add an article to database from frontend

 form(method='POST', action = '/users/login')
    
    #form-group
        label Username:
        input.form-control(name = 'username', type = 'text')
    
    #form-group
        label Password:
        input.form-control(name = 'password', type = 'password')
    
        
    br
    input.btn.btn-primary(type = 'submit', value = 'Login')
