.alert-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;

}
.alert-success_msg{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;

}
.navbar{
    background-color: #2d363b;
    border-color: #2f363b;
  }
.navbar-brand{
    color: white;
}
.nav.navbar-nav a{
    color: white;

}
